---
import { Badge } from "@/components/ui/badge";
import { Card, CardTitle, CardHeader }  from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/base.astro";
import { ExternalLinkIcon } from "lucide-react";

const data = {
	title: "Prototip Articol",
	createdAt: new Date().toLocaleDateString("ro-RO", {
		day: "numeric",
		month: "long",
		year: "numeric",
	}),
	tags: ["tech", "news"],
	ai_generated: true,
	summary: [
		{
			emoji: "📝",
			text: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.",
		},
		{
			emoji: "🫀",
			text: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim",
		},
		{
			emoji: "🛠️",
			text: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim",
		}
	],
	sources: ["https://digi24.ro", "https://protv.ro", "https://adevarul.ro"]
}
---

<Layout
	title="Prototip Articol"
	class="container"
>
	<h1
		class="text-5xl md:text-7xl font-bold"
	>
		{data.title}
	</h1>

	<div class="flex flex-row gap-2 mb-2">
		{data.ai_generated && (
			<>
				<Badge variant="secondary">
					Generat de AI
				</Badge>
				<span>&middot;</span>
			</>
		)}
		{data.tags.map((tag) => (
			<p>
				#{tag}
			</p>
		))}
	</div>

	<div class="flex flex-col gap-4 mb-8">
		{data.summary.map((item) => (
			<div class="flex flex-row gap-2">
				<p class="font-bold text-xl">
					{item.emoji}
				</p>
				<p>
					{item.text}
				</p>
			</div>
		))}
	</div>

	<Card>
		<CardHeader>
			<CardTitle>
				Surse
			</CardTitle>
		</CardHeader>
		<div class="flex flex-col">
			{data.sources.map((source, idx) => (
				<>
					<a href={source} class="block py-4 px-8 hover:bg-muted transition-colors" target="_blank">
						{new URL(source).hostname}
						<ExternalLinkIcon className="inline" />
					</a>
					{idx !== data.sources.length - 1 && <Separator className="mx-8 w-auto" />}
				</>
			))}
		</div>
	</Card>
</Layout>
